.container-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-image: linear-gradient(0deg, rgba(1, 15, 3, 0.94) 17%, rgba(64, 245, 10, 0.541) 92%, rgba(5, 10, 0, 0) 100%);
    width: 100%;
    height: 100vh;
}